# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
.idea

# --- Jupyter Notebooks ---
.ipynb_checkpoints

# --- Models & Weights ---
checkpoint-*/
*.bin
*.pt
*.pth
*.onnx
model/chk.py
model/tourism_model_refined
model/tourism_model
model/tourism_model_checkpoint_1625

!for_full_fineTune.json
!reviews_with_rates_10k.json
!travel_edge_reviews_1500.json

# --- Data & Scraped Content ---

DataProcess/Unified_Countries/*.csv
ScrapedData/
*.csv
*.json
!DataProcess/Unified_Countries/Thailand_processed.csv
# --- Streamlit ---
.streamlit/
static/
saved_itineraries/

# --- OS specific files ---
.DS_Store
.DS_Store?
._*
Thumbs.db