selenium
pandas
webdriver_manager
pydantic
langchain_core
langchain_community
thefuzz
fpdf2
torch
datasets
transformers
scikit-learn
tiktoken
sentencepiece
protobuf
Pillow
streamlit
bs4
langchain_groq
ollama
tqdm
langchain_ollama
qrcode